/*This is a page for taking a political candidate test*/
/*The page should be split into two with a plot being shown on the right for wide screens and a plot on the lower half for tall screens*/
/*The first half (not the plot) should contain the questions to be asked and a slider to answer with */
/*Also, the answers of the different parties should be shown on the slider (if enabled by the user) */
/*The second half should contain the plot */
/*This plot has different options for the user: show parties or show candidates */

/*Current classes:*/
/* .container: the container for the whole page */
/* .left: the left half of the page */
/* .right: the right half of the page */
/* .plot: the plot */
/* .question: the question */
/* .slider: the slider */
/* .slider-container: the container for the slider */
/* .party-answers: contains the table with the answers of the parties */


/*Each marker already has a "left: x%" property, where x is the position of the marker on the slider*/

/*Table should have equal width for each column*/

.party-answers-column {
    vertical-align: top;
    padding: 0;
}

.party-answers {
    width: 100%;
}

.marker {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    font: 12px sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}

.container {
    display: inline;
}

.left {
    width: 50%;
    left: 0;
    top: 0;
}

.right {
    position: fixed;
    width: 50%;
    right: 0;
    top: 0;
}

input[type='range'] {
    width: 100%;
    margin: 0;
}

datalist {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

/*Questions and descriptions*/
p {
    font: 24px sans-serif;
    margin: 10px;
}

aside {
    font: 16px sans-serif;
    margin: 10px;
}

h1 {
    font: 34px sans-serif;
    font-weight: bold;
    margin: 10px;
}

table {
    border-spacing: 0;
    table-layout: fixed;
}


option {
    font: 18px sans-serif;
    padding: 0;
    margin: 0;
}

/*Show parties button*/
/*Should be big and visible*/
input.show-parties-check {
    font: 20px sans-serif;
    font-weight: bold;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

label {
    font: 20px sans-serif;
    vertical-align: middle;
}

.neutral {
    font: 20px sans-serif;
    font-weight: lighter;
    font-style: italic;
    vertical-align: middle;
}

.neutral-box {
    margin: 10px;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    background-color: #000000;
    vertical-align: middle;
}

.tooltip {
    font: 14px sans-serif;
    vertical-align: middle;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.question {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#right-explainer {
    position: absolute;
    top: 0;
    margin-left: 7%;
}

#region-form {
    /*Should be to the right where tooltip is to the left*/
    position: absolute;
    right: 7%;
    margin: 10px;
    padding: 10px;
}