.party-answers-column {
    vertical-align: top;
    padding: 0;
    text-align: center;
}


.marker {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    font: 12px sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: white;
}

/*Contains left and right divs*/
.container {
    display: inline;
}


#left {
    width: 50%;
    display: block;
    position: relative;
}

#right {
    position: fixed;
    width: 50%;
    right: 0;
    top: 0;
}


input[type='range'] {
    width: 100%;
    margin: 0;
}

datalist {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

/*Questions and descriptions*/
p {
    font: 24px sans-serif;
    margin: 10px;
}

aside {
    font: 16px sans-serif;
    margin: 10px;
}

h1 {
    font: 34px sans-serif;
    font-weight: bold;
    margin: 10px;
    vertical-align: middle;
}

h1>button {
    font: 24px sans-serif;
    font-weight: bold;
    margin: 10px;
    vertical-align: middle;
}

h2 {
    font: 28px sans-serif;
    font-weight: bold;
    margin: 10px;
}

table {
    border-spacing: 0;
    table-layout: fixed;
}


option {
    font: 18px sans-serif;
    padding: 0;
    margin: 0;
}

/*Show parties button*/
/*Should be big and visible*/
input.show-parties-check {
    font: 20px sans-serif;
    font-weight: bold;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

label {
    font: 20px sans-serif;
    vertical-align: middle;
}

.neutral {
    font: 20px sans-serif;
    font-weight: lighter;
    font-style: italic;
    vertical-align: middle;
}

.neutral-box {
    margin: 10px;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    background-color: #000000;
    vertical-align: middle;
}

.tooltip {
    font: 14px sans-serif;
    vertical-align: middle;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.question {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#right-explainer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: white;
}

#region-form {
    margin: 10px;
    height: 20px;
}

.vertical-line {
    left: 50%;
    height: 10px;
    border-left: 1px solid black;
    position: relative;
    margin-bottom: 2px;
}

.test-results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/*Parent is final box on the left*/
/*.test-results should fill out the width of the parent*/
#party-results.question,
#candidate-results.question {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.result {
    display: block;
    font: 20px sans-serif;
    font-weight: bold;
    margin: 10px;
}

.result>div {
    display: inline-block;
    margin: 0.3em;
    vertical-align: middle;
}

.party-name {
    font: 20px sans-serif;
    margin: 10px;
}

.party-name>a {
    color: black;
    text-decoration: none;
}

.party-name>a:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

p.tiny-text {
    font: 16px sans-serif;
    margin: 10px;
}

#plot {
    /*Ensure square, shrink height to match width*/
    width: 100%;
    padding-bottom: 130%;
    position: relative;
}

#plot>svg {
    width: 50vw;
    height: 100vh;
}